.pokemoncontainer {
    margin: 25px;
    width: 260px;
    height: 320px;
    border: 2px solid blue;
    border-radius: 10px;
    cursor: pointer;
}

.pokemoncontainer:hover {
    transition: 0.25s ease-out;
    transform: scale(1.05);
    box-shadow: 3px 3px 8px white, -3px -3px 8px white;
}

.pokemonName {
    display: flex;
    justify-content: left;
    color: white;
    background-color: rgb(21, 21, 177);
}

.pokemonName h4 {
    display: flex;
    justify-content: start;
    align-items: center;
    margin-right: 70px;
    margin-left: 10px;
    font-weight: bold;
}

.ImageContainer {
    width: 260px;
    height: 180px;
    display: flex;
    justify-content: center;
}

.fire-Img {
    background-color: orange;
}

.grass-Img {
    background-color: lightgreen;
}

.bug-Img {
    background-color: rgb(74, 100, 3);
}

.normal-Img {
    background-color: rgb(101, 166, 185);
}

.dragon-Img {
    background-color: aqua;
}

.electric-Img {
    background-color: aqua;
}

.fairy-Img {
    background-color: aqua;
}

.flying-Img {
    background-color: aqua;
}

.ground-Img {
    background-color: rgb(187, 103, 103);
}

.ice-Img {
    background-color: lightblue;
}

.water-Img {
    background-color: lightblue;
}

.poison-Img {
    background-color: rgb(138, 52, 52);
}

.fighting-Img {
    background-color: rgb(206, 176, 9);
}

.rock-Img {
    background-color: brown;
}

.psychic-Img {
    background-color: lightsalmon;
}

.ghost-Img {
    background-color: grey;
}

.dark-Img {
    background-color: darkgrey;
}


.ImageContainer img {
    width: 95%;
}

.type-button-area {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 260px;
    height: 80px;
    background-color: rgb(124, 116, 45);
    border-radius: 0px 0px 10px 10px;
}

.type-button-area img {
    width: 38px;
    height: 38px;
    padding: 5px;
    border-radius: 15px;
}

.fighting {
    background-color: rgb(201, 181, 5);
}

.fire {
    background-color: orangered;
}

.grass {
    background-color: green;
}

.bug {
    background-color: gold;
}

.dark {
    background-color: purple;
}

.dragon {
    background-color: burlywood;
}

.electric {
    background-color: rgb(216, 216, 15);
}

.fairy {
    background-color: violet;
}

.flying {
    background-color: lightskyblue;
}

.ghost {
    background-color: lightgrey;
}

.ground {
    background-color: brown;
}

.ice {
    background-color: lightblue;
}

.normal {
    background-color: violet;
}

.poison {
    background-color: red;

}

.psychic {
    background-color: darkred;
}

.rock {
    background-color: lightgray;
}

.steel {
    background-color: grey;
}

.water {
    background-color: lightblue;
}

/* responsiv starts here*/

@media(max-width:350px) {
    .type-button-area {
        width: 240px;
    }

    .pokemoncontainer {
        width: 240px;
    }

    .ImageContainer {
        width: 240px;
    }
}