body {
    display: flex;
    flex-direction: column;
    margin: 0px;
    height: 100vh;
}

.header-fullsize {
    width: 100%;
    max-width: 100%;
    display: flex;
    justify-content: center;
    background-color: rgb(12, 12, 129);
}

.header-section-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 15px;
    width: 100%;
    max-width: 1920px;
    height: 200px;
}

.header-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
}

.header-logo h2 {
    color: white;
}

.header-searchbar{
    display:flex;
    align-items: center;
}
.header-searchbar input {
    border-radius: 8px;
    padding: 8px;
    width: 150px;
    font-size: 14px;
    background-color: lightblue;
}

.searchButton{
    border-radius: 8px;
    margin-left:10px;
    width:70px;
    height:30px;
    font-weight: bold;
    background-color: blueviolet;
    border: 2px solid yellow;
}

.searchButton:hover{
    background-color: rgb(157, 20, 199);
    transform:scale(1.1);
}

.header-logo img {
    width: 125px;
}

.main-section-fullsize {
    flex: 1;
    width:100%;
    margin: 0 auto;
    background-color: rgb(6, 6, 94);
}

.wrapper {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    z-index: 1;
    justify-content: center;
    align-items: center;
    height: 100%;
    max-height: 100vh;
    width: 100%;
    max-width: 100%;
    background-color: rgba(20, 78, 133, 0.76);
}

.main-section-fullsize button {
    display: flex;
    margin: 0 auto;
    padding: 5px 30px;
    border-radius: 10px;
    background-color: green;
    cursor:pointer;
    margin: 10px auto;
}

.main-section-content {
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width:1920px;
    width:100%;
    margin: 0 auto;
}

.main-section button {
    width: 150px;
    height: 30px;
}

.footer-fullsize {
    width: 100%;
    max-width: 100%;
    display: flex;
    justify-content: center;
    background-color: rgb(12, 12, 129);
}

.footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1920px;
    height: 200px;
}

.footer-content img {
    width: 380px;
}

.loadingSpinner {
    display: flex;
    padding: 10px 0px;
    margin: 0 auto;
    width: 200px;
    height: 200px;
    animation: loading 0.5s infinite ease-in-out
}

.dont-Show {
    display: none;
}

@media(max-width:500px) {
    .header-logo img {
        width: 80px;
    }

    .header-logo h2 {
        font-size: 18px;
    }

    .header-searchbar input {
        width: 120px;
    }
    .header-fullsize{
        width:100%;
        padding: 0px;
    }

    .footer-content img {
        width: 300px;
    }

    .main-section-fullsize {
      
        width:100%;
    }
}

@media(max-width:400px){
    .header-logo img {
        width: 60px;
    }

    .header-logo h2 {
        font-size: 16px;
    }

    .header-searchbar input {
        width: 100px;
    }
    .searchButton{
        width:50px;
    }
}

@media(max-width:330px){
    .header-logo img {
        width: 60px;
    }

    .header-logo h2 {
        font-size: 14px;
    }

    .header-searchbar input {
        width: 90px;
    }
    .main-section-fullsize{
        
        margin: 0px;
    }
    
    .footer-content img{
        width:270px;
    }
    
}

@keyframes loading {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}